.app__web-hero{
    background-image: url('../../assets/new/wb-bg.svg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

/* .single-counter-two {
    border-radius: 6px;
    border: 1px solid #f9c5ca;
    transition: 0.4s ease-in-out;
  }
  
  .single-counter-two:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(249, 197, 202, 0.53);
    -moz-box-shadow: 0px 0px 15px 0px rgba(249, 197, 202, 0.53);
    box-shadow: 0px 0px 15px 0px rgba(249, 197, 202, 0.53);
    border-color: transparent;
  } */